{% extends 'base.html' %}

{% block header %}
  <h1>{% block calendar %}App Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="calendar">Calendar</label>
    <input name="calendar" id="title" value="{{ request.form['calendar'] }}">
    <label for="location">Location</label>
    <input name="location" id="location" value="{{ request.form['location'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}

{% block nav %} 
	<li class="nav-item"> <a class="nav-link" href="{{ url_for('events.index') }}">Home</a>
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('events.settings') }}">Settings</a>
	<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
{% endblock %}
